<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoMxShop" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\Python37\python.exe|E:\MxShop\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
