{% extends 'user_operation/findPassword_base.html' %}
{% block main %}
<ul class="resetpwsteps">
    <li  class="resetpw activebg">获取验证码</li>
    <li  class="resetpw">核对验证码</li>
    <li  class="resetpw">设置新密码</li>
</ul>
<div class="form">
    <form action="{% url 'user_operation:getCode' %}" method="post">
        {% csrf_token %}
    <h3>填写账号或邮箱：</h3>
    <p><input type="text" name="email" id="email" class="form-control input-lg" style="width: 300px;margin: 0 auto"  placeholder="用户名或邮箱" autofocus></p>
    <p><input type="submit" value="获取密码重置邮件" style="width: 300px;margin: 0 auto;" class="btn btn-block btn-primary btn-lg" id="pw_btn"></p>
    </form>
    {% if messages %}
        {% for message in messages %}
            <span style="color: red">{{ message }}</span>
        {% endfor %}
    {% endif %}
</div>
<script>
    $(function () {
        $('#pw_btn').click(function () {
            email = $('input[name="email"]').val()
            if(!email.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/))
              {
               alert("请输入有效的邮箱地址！");
               return false
              }
        })

    })
</script>
{% endblock %}
